global
  maxconn 4096
  log stdout format raw

defaults
  mode tcp
  timeout connect 10s
  timeout client 1m
  timeout server 1m

frontend postgres_front
  bind *:5432
  default_backend postgres_back

backend postgres_back
  balance roundrobin
  server node1 pg_node1:5432 check
  server node2 pg_node2:5432 check
