global
  log stdout  format raw  daemon
  maxconn 100

defaults
  log     global
  mode    tcp
  timeout connect 10s
  timeout client  1m
  timeout server  1m
  retries 3

frontend postgres
  bind *:5000
  default_backend postgres_servers

backend postgres_servers
  option httpchk GET /master
  default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

  server spilo1 spilo1:5432 check port 8008
  server spilo2 spilo2:5432 check port 8008
  server spilo3 spilo3:5432 check port 8008
